{% extends 'base.html.twig' %}

{% block title %}Societe{% endblock %}

{% block body %}
    <h1>Societe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Nomste</th>
                <td>{{ societe.nomste }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ societe.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ societe.ville }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ societe.siteweb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_societe_index') }}">back to list</a>

    <a href="{{ path('app_societe_edit', {'id': societe.id}) }}">edit</a>

    {{ include('societe/_delete_form.html.twig') }}
{% endblock %}
